@-moz-document domain("sonarcloud.io")
{
    body,
    html,
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="text"],
    select,
    textarea,
    .boxed-group,
    .bubble-popup,
    .coding-rule,
    .code-components tr,
    .data-line-number,
    .data tr.blank,
    .data tr.blank > td,
    .domain-measures-leak,
    .domain-measures-leak-header,
    .dropdown-menu,
    .even, .facet-name,
    .facet-name span,
    .facet-stat,
    .layout-page-main,
    .layout-page-side,
    .layout-page-side-inner,
    .layout-page-header-panel-inner,
    .measure-details-component-row,
    .menu,
    .navbar-inner,
    .navbar-search .search-box-input,
    .odd,
    .overview-domain-leak,
    .overview-domain-panel,
    .overview-legend,
    .overview-main,
    .overview-meta,
    .overview-quality-gate,
    .overview-quality-gate-condition-leak,
    .overview-title,
    .page-box,
    .page-wrapper,
    .project-activity-version-badge,
    .search-navigator-facet-box,
    .search-navigator-facet-empty,
    .search-navigator-facet-header,
    .site-footer .grey-band,
    .source-line-issues,
    .source-line-code.code,
    .source-line-code-inner,
    .source-line-coverage,
    .source-line-filtered.source-line-filtered-dark .source-line-code,
    .source-line-number,
    .source-line-scm,
    .source-viewer,
    .source-viewer,
    .source-viewer-header,
    .source-viewer-header-slim,
    .source-viewer-more-code,
    .spacer-left, 
    .workspace-viewer-container,
    #footer,
    #projects-management-page-projects tr
    {
        background: #222 !important;
        color: #CCC;
    }
    .concise-issue-box:not(.selected) .location-index,
    .location-message,
    .measure-details-component-row.selected
    {
        background: #333 !important;
        color: #CCC;
    }
    code.rule,
    table.data.zebra > tbody > tr.selected,
    .concise-issue-box,
    .css-1xptwoq,
    .dropdown-menu a.active,
    .dropdown-menu a:hover,
    .expand-block-above,
    .expand-block-below,
    .issue,
    .issue-location,
    .issue-rule,
    .issue-rule:hover,
    .markdown code,
    .menu-search ~ .menu > .active > a,
    .menu-search ~ .menu > .active > a:focus,
    .menu-search ~ .menu > .active > a:hover,
    .menu-search ~ .menu > li > .active,
    .menu-search ~ .menu > li > .active:focus,
    .menu-search ~ .menu > li > .active:hover,
    .rule-desc code,
    .search-box-input,
    .search-navigator-facet.active,
    .search-navigator-facet.active .facet-name,
    .Select-placeholder,
    .Select-value,
    .source-line-code:hover,
    .source-line-code.code:hover,
    .source-line-code-inner:hover,
    .source-line-filtered.source-line-filtered-dark,
    .source-line-issues:hover,
    .source-line-scm:hover
    {
        background: #444 !important;
        color: #CCC;
    }
    .source-line-uncovered
    {
        background: #d4333f !important;
    }
    .measure-overview-project_overview
    {
        color: #CCC !important;
    }
    a,
    button,
    input[type="button"],
    input[type="submit"],
    .button,
    .button-link
    {
        color: #9977BB !important;
    }
    .badge
    {
        background: #9977BB !important;
    }
    .search-navigator-facet .facet-stat::before
    {
        background: linear-gradient(-90deg,#222 20%,rgba(255,255,255,0) 100%) !important;
    }
    input[type="button"],
    input[type="submit"],
    button,
    .button,
    .coding-rule.selected,
    .concise-issue-box,
    .icon-checkbox::before,
    .issue.selected,
    .search-navigator-facet.active
    {
        border: 1px solid #9977BB !important;
    }
    .issues .issue:focus-within,
    .issues .issue:hover
    {
        border: 2px dashed #9977BB !important;
    }
    .navbar-tabs > li > a.active,
    .navbar-tabs > li > a:focus,
    .navbar-tabs > li > a:hover
    {
        border-bottom-color: #9977BB !important;
    }
    .css-1xptwoq,
    .css-drwc05,
    .navbar-context-avatar
    {
        border: none !important;
    }
    .leak-chart-rect
    {
        fill: #222 !important;
    }
    .overview-domain-nutshell .line-chart-backdrop
    {
        fill: #333 !important;
    }
    .overview-domain-leak .line-chart-backdrop
    {
        fill: #444 !important;
    }
}
